@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Satisfy&display=swap');
.header1{
    padding-top: 120px;
    
    font-family: 'Satisfy', cursive;
    color: red;
    font-size: 32px;
}
.header2{
    font-family: 'Barlow', sans-serif;
   
    font-size: 42px;
}
.btn{
    font-family: 'Barlow', sans-serif;
    margin-left: 18px;
    margin-right:18px ;
    font-size: 19px;
}
